


  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          All Books
        </div>
        <div class="card-body">
          <table class="table table-sm table-bordered ">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Book Name</th>
              <th scope="col" >Edit</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of allBooks">
              <td>{{book.title}}</td>
              <td (click)="editBookDetails(book)">edit</td>
              <td>delete</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><br>
    </div>
    <div class="col-sm-12">

      <div class="card">
        <div class="card-header">
          All Readers
        </div>
        <div class="card-body">
          <table class="table table-sm table-bordered ">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reader of allReaders">
              <td>{{reader.name}}</td>
              <td (click)="editReaderDetails(reader)">edit</td>
              <td>delete</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><br>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Most popular Book
        </div>
        <div class="card-body">
         {{mostPopularBook.title}}
        </div>
      </div>
    </div>

  </div>

